@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewBag.Title = "AddAbout";
    Layout = "_AdminLayout";
}
<h2>Update Blog</h2>

<form asp-action="UpdateBlog" method="post">
    <input asp-for="BlogID" type="hidden" />

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateTime" class="control-label"></label>
        <input asp-for="DateTime" type="datetime" class="form-control" />
        <span asp-validation-for="DateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BlogRating" class="control-label"></label>
        <input asp-for="BlogRating" type="number" class="form-control" />
        <span asp-validation-for="BlogRating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryID" class="control-label"></label>
        <input asp-for="CategoryID" type="number" class="form-control" />
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AuthorID" class="control-label"></label>
        <input asp-for="AuthorID" type="number" class="form-control" />
        <span asp-validation-for="AuthorID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update Blog</button>
</form>
