@model BusinessLayer.Abstract.IAboutService

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container-fluid p-0">
    @foreach (var item in Model.TGetList())
    {
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    @item.Name
                    <span class="text-primary">@item.Surname</span>
                </h1>
                <div class="subheading mb-5">
                    @item.Content1 · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
                    <a href="mailto:onurceymen@yahoo.com"></a>
                </div>
                <p class="lead mb-5">@item.Content2</p>
                <div class="social-icons">
                    <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>
    }
</div>