@using EntityLayer.Concrete
@model List<Bookcase>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Update Book in Bookcase</h2>

<form asp-action="UpdateBookcase" method="post">
    <input type="hidden" asp-for="BookID" />

    <div class="form-group">
        <label asp-for="BookNane" class="control-label">Book Name:</label>
        <input asp-for="BookNane" class="form-control" />
        <span asp-validation-for="BookNane" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bookauthor" class="control-label">Author:</label>
        <input asp-for="Bookauthor" class="form-control" />
        <span asp-validation-for="Bookauthor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookTour" class="control-label">Tour:</label>
        <input asp-for="BookTour" class="form-control" />
        <span asp-validation-for="BookTour" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BookPublishingHouse" class="control-label">Publishing House:</label>
        <input asp-for="BookPublishingHouse" class="form-control" />
        <span asp-validation-for="BookPublishingHouse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Update Book" class="btn btn-primary" />
    </div>
</form>